#game-canvas {
    background-color: rgb(38, 38, 38);
    // display: flex;
    // grid-template-columns: 65px 1fr 65px;
    // grid-template-rows: 100px 100px 100px;
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 620px;
    left: 0;
    right: 0;
    margin: auto;
}

.grid {
    display: flex;
    position: relative;
    width: 620px;
    left: 0;
    right: 0;
    margin: auto;

}

.grid > ul {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
    margin-top: 10px;
    margin-left: 10px;
    // position: absolute;
}

.grid li {
    width: 60px;
    height: 60px;
    justify-content: center;
}

li:hover {
    background-color: gray;
}