$primary-color: #20232A;
$secondary-color: #ACBEBE;
$tertiary-color: #F4F4EF;
$highlights: #A01D26;

.nav {
    min-width: 980px;
}
.main-nav {
    display: grid;
    grid-template-columns: 1fr 180px 1fr 620px 1fr 180px 1fr;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ACBEBE;
}

.main-title {
    display: flex;
    grid-column: 4;
    justify-content: center;
}

.main-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;

}

.div-box {
    grid-column: 2;
    width: auto;
    margin: auto;
    // button {
    //     margin: auto; 
    // }
}

.logo-list {
    grid-column: 6;
}

.main-nav li {
    margin: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #20232A;
}

.main-nav h2 {
    margin: 20px;
}

.logo {
    width: 34px;
    height: 34px;
    margin-right: 20px;
}