.resources-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.resources-bar > ul {
    // display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;

}

.rss-left {
    // justify-content: space-between;
    width: 55%;
}

.rss-right {
    // justify-content: end;
    width: 45%;
}

.rss-left > ul {
    display: flex;
    flex-direction: row;

    li {
        padding: 10px;
    }

}

.rss-right > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;

    li {
        padding: 10px;
    }

}
