.tutorial-holder1 {
    display: flex;
    justify-content: center;
    grid-column: 1/8;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    #box-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        margin: auto auto;
        margin-top: 100px;
        height: 200px;
        width: 600px;
        background: #fff;

        #tutorial-text {
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        #tut-button1 {
            height: 40px;
            width: 80px;
            justify-content: center;
            margin-bottom: 10px;

        }

        #tut-button5 {
            height: 40px;
            width: 100px;
            justify-content: center;
            margin-bottom: 10px;

        }
    }

}

.tutorial-holder2 {
    display: flex;
    justify-content: center;
    grid-column: 1/8;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    #box-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        margin-right: 40%;
        margin-top: 100px;
        height: 200px;
        width: 600px;
        background: #fff;

        #tutorial-text {
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        #tut-button2 {
            height: 40px;
            width: 80px;
            justify-content: center;
            margin-bottom: 10px;

        }
    }

}

.tutorial-holder3 {
    display: flex;
    justify-content: center;
    grid-column: 1/8;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    #box-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        height: 200px;
        width: 600px;
        background: #fff;

        #tutorial-text {
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        #tut-button3 {
            height: 40px;
            width: 80px;
            justify-content: center;
            margin-bottom: 10px;

        }
    }

}

.tutorial-holder4 {
    display: flex;
    justify-content: center;
    grid-column: 1/8;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    #box-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        margin-right: 50%;
        height: 200px;
        width: 600px;
        background: #fff;

        #tutorial-text {
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        p {
            margin-left: 30px;
            margin-right: 30px;
        }

        #tut-button4 {
            height: 40px;
            width: 80px;
            justify-content: center;
            margin-bottom: 10px;

        }
    }

}

.tut-button {
    cursor: pointer;
}

.hidden {
    display: none;
}

